[package]
name = "hifive"
version = "0.2.0"
repository = "https://github.com/riscv-rust/hifive"
authors = ["David Craven <david@craven.ch>"]
categories = ["embedded", "hardware-support", "no-std"]
description = "Board support crate for hifive and lofive boards."
keywords = ["riscv", "register", "peripheral"]
license = "ISC"

[dependencies]
riscv = "0.3.0"
riscv-rt = "0.3.0"
e310x-hal = { version = "0.2.0", features = ["pll", "hfxosc", "lfaltclk"] }
